<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>foodappui.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9A31DF5F076B71D8C118F303F20030BEFD593A50</string>
				<key>dateExpires</key>
				<string>11/7/21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LFQ583MQ6A.org.reactjs.native.example.foodappui</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LFQ583MQ6A</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>LFQ583MQ6A.org.reactjs.native.example.foodappui</string>
				</array>
			</dict>
			<key>name</key>
			<string>foodappui.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2f6ea171-060f-4891-861b-d0ac72d1b290</string>
				<key>name</key>
				<string>GG</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LFQ583MQ6A</string>
				<key>name</key>
				<string>Weiping Ou</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
